<% provide(:title, '帮助') %>
<h1>帮助页面</h1>
<p>
  如果需要帮助可以点击下面这个链接
  <a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>. To get help on this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em> book</a>.
</p>
